.section-rows {
  height: 100%;
}

.left-column {
  height: 100%;
  min-height: 595px;
  background-color: rgb(8, 19, 85);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../img/bg.jpg");
}

.right-column {
  height: 100%;
  min-height: 595px;
  background: #fff;
}

.right-section {
  margin-top: 30px !important;
}

.round-input {
  border-radius: 30px;
}

.round-input:hover {
  border: 1px solid rgb(8, 19, 85);
}

.login-btn {
  background: rgb(8, 19, 85);
  color: #fff;
}

.login-btn:hover {
  background: #fff;
  color: rgb(8, 19, 85);
}

.signup-container {
  margin-left: 40px;
  margin-top: 70px;
  padding: 0 90px;
}

.form-header {
  color: rgb(8, 19, 85);
  text-align: center;
}

.form-header-left {
  color: rgb(8, 19, 85);
  text-align: left;
  padding-left: 25px;
}

.text-image {
  margin-left: 20px;
  margin-top: 150px;
  padding: 20px;
  color: #fff;
}

.right-section {
  min-height: 100vh;
}

.left-column {
  min-height: 100vh;
}

body {
  background-color: #fff;
  background-repeat: no-repeat;
  height: 90%;
  min-height: 600px;
  background-size: cover;
  background-position: center;
}

h3 {
  color: rgb(8, 19, 85);

  font-size: 2.8rem;
  font-weight: 500;
  text-align: center;
}

a:hover {
  color: rgb(8, 19, 85) !important;
  font-weight: bold !important;
}

#footer {
  background: #000000;
  padding: 0 0 30px 0;
  color: #eee;
  font-size: 14px;
}

#footer .footer-top {
  background: #000033;
  padding: 60px 0 30px 0;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #eee;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top h4 {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top h4::before,
#footer .footer-top h4::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
}

#footer .footer-top h4::before {
  right: 0;
  background: #555;
}

#footer .footer-top h4::after {
  background: #f7a309;
  width: 60px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 8px;
  color: #ddd;
}

#footer .footer-top .footer-links ul li {
  border-bottom: 1px solid #333;
  padding: 10px 0;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #eee;
}

#footer .footer-top .footer-links ul a:hover {
  color: #f7a309;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
  line-height: 26px;
}

#footer .footer-top .footer-newsletter input[type="email"] {
  border: 0;
  padding: 6px 8px;
  width: 65%;
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
}

#footer .credits {
  text-align: center;
  font-size: 13px;
  color: #ddd;
}
